.mat-card{
    background-color: rgba(204, 255, 195, 0.3);
}

.mat-card-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-card-content{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}