.mat-card{
    background-color: rgba(190, 195, 251, 0.3);
}

.mat-card-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-card-content{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gym-div{
    background: url("../../assets/images/trainings.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}