.schedule-week{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-table{
    width: 100%;
    background-color: rgba(132, 255, 116, 0.3);
}

.mat-column-timeSlot{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-column-training{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-column-trainer{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.reserve-now{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}