<div class="schedule-div">
  <div class="gym-div" *ngFor="let gym of gymOpenHours">
    <hr />
    <p class="schedule-week">
      {{ gym.day }} <span style="float: right"> {{ gym.hoursInterval }} </span>
    </p>
    <hr />
  </div>

  <mat-tab-group>
    <!-- MONDAY -->
    <div *ngIf="gymScheduleMonday != []; else elseBlock">
      <mat-tab label="Monday">
        <div>
          <table
            mat-table
            [dataSource]="gymScheduleMonday"
            class="mat-elevation-z8"
          >
            <!-- Time Slot Column -->
            <ng-container matColumnDef="timeSlot">
              <th mat-header-cell *matHeaderCellDef>Time Slot</th>
              <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
            </ng-container>

            <!-- Training Column -->
            <ng-container matColumnDef="training">
              <th mat-header-cell *matHeaderCellDef>Training</th>
              <td mat-cell *matCellDef="let element">{{ element.training }}</td>
            </ng-container>

            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer">
              <th mat-header-cell *matHeaderCellDef>Trainer</th>
              <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
            </ng-container>

            <!-- Reserve Column -->
            <ng-container matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef>Reserve</th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="reserveNow()"
                >
                  Reserve NOW
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </div>
    <!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

    <!-- TUESDAY -->
    <div *ngIf="gymScheduleTuesday != []; else elseBlock">
      <mat-tab label="Tuesday">
        <div>
          <table
            mat-table
            [dataSource]="gymScheduleTuesday"
            class="mat-elevation-z8"
          >
            <!-- Time Slot Column -->
            <ng-container matColumnDef="timeSlot">
              <th mat-header-cell *matHeaderCellDef>Time Slot</th>
              <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
            </ng-container>

            <!-- Training Column -->
            <ng-container matColumnDef="training">
              <th mat-header-cell *matHeaderCellDef>Training</th>
              <td mat-cell *matCellDef="let element">{{ element.training }}</td>
            </ng-container>

            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer">
              <th mat-header-cell *matHeaderCellDef>Trainer</th>
              <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
            </ng-container>

            <!-- Reserve Column -->
            <ng-container matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef>Reserve</th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="reserveNow()"
                >
                  Reserve NOW
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </div>
    <!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

    <!-- WEDNESDAY -->
    <div *ngIf="gymScheduleWednesday != []; else elseBlock">
      <mat-tab label="Wednesday">
        <div>
          <table
            mat-table
            [dataSource]="gymScheduleWednesday"
            class="mat-elevation-z8"
          >
            <!-- Time Slot Column -->
            <ng-container matColumnDef="timeSlot">
              <th mat-header-cell *matHeaderCellDef>Time Slot</th>
              <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
            </ng-container>

            <!-- Training Column -->
            <ng-container matColumnDef="training">
              <th mat-header-cell *matHeaderCellDef>Training</th>
              <td mat-cell *matCellDef="let element">{{ element.training }}</td>
            </ng-container>

            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer">
              <th mat-header-cell *matHeaderCellDef>Trainer</th>
              <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
            </ng-container>

            <!-- Reserve Column -->
            <ng-container matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef>Reserve</th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="reserveNow()"
                >
                  Reserve NOW
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </div>
    <!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

    <!-- THURSDAY -->
    <div *ngIf="gymScheduleThursday != []; else elseBlock">
      <mat-tab label="Thursday">
        <div>
          <table
            mat-table
            [dataSource]="gymScheduleThursday"
            class="mat-elevation-z8"
          >
            <!-- Time Slot Column -->
            <ng-container matColumnDef="timeSlot">
              <th mat-header-cell *matHeaderCellDef>Time Slot</th>
              <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
            </ng-container>

            <!-- Training Column -->
            <ng-container matColumnDef="training">
              <th mat-header-cell *matHeaderCellDef>Training</th>
              <td mat-cell *matCellDef="let element">{{ element.training }}</td>
            </ng-container>

            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer">
              <th mat-header-cell *matHeaderCellDef>Trainer</th>
              <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
            </ng-container>

            <!-- Reserve Column -->
            <ng-container matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef>Reserve</th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="reserveNow()"
                >
                  Reserve NOW
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </div>
    <!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

    <!-- FRIDAY -->
    <div *ngIf="gymScheduleFriday != []; else elseBlock">
      <mat-tab label="Friday">
        <div>
          <table
            mat-table
            [dataSource]="gymScheduleFriday"
            class="mat-elevation-z8"
          >
            <!-- Time Slot Column -->
            <ng-container matColumnDef="timeSlot">
              <th mat-header-cell *matHeaderCellDef>Time Slot</th>
              <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
            </ng-container>

            <!-- Training Column -->
            <ng-container matColumnDef="training">
              <th mat-header-cell *matHeaderCellDef>Training</th>
              <td mat-cell *matCellDef="let element">{{ element.training }}</td>
            </ng-container>

            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer">
              <th mat-header-cell *matHeaderCellDef>Trainer</th>
              <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
            </ng-container>

            <!-- Reserve Column -->
            <ng-container matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef>Reserve</th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="reserveNow()"
                >
                  Reserve NOW
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </div>
    <!-- <ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

    <!-- SATURDAY -->
    <div *ngIf="gymScheduleSaturday != []; else elseBlock">
      <mat-tab label="Saturday">
        <div>
          <table
            mat-table
            [dataSource]="gymScheduleSaturday"
            class="mat-elevation-z8"
          >
            <!-- Time Slot Column -->
            <ng-container matColumnDef="timeSlot">
              <th mat-header-cell *matHeaderCellDef>Time Slot</th>
              <td mat-cell *matCellDef="let element">{{ element.hour }}</td>
            </ng-container>

            <!-- Training Column -->
            <ng-container matColumnDef="training">
              <th mat-header-cell *matHeaderCellDef>Training</th>
              <td mat-cell *matCellDef="let element">{{ element.training }}</td>
            </ng-container>

            <!-- Trainer Column -->
            <ng-container matColumnDef="trainer">
              <th mat-header-cell *matHeaderCellDef>Trainer</th>
              <td mat-cell *matCellDef="let element">{{ element.trainer }}</td>
            </ng-container>

            <!-- Reserve Column -->
            <ng-container matColumnDef="reserve">
              <th mat-header-cell *matHeaderCellDef>Reserve</th>
              <td mat-cell *matCellDef="let row">
                <button
                  class="button-primary"
                  mat-raised-button
                  color="primary"
                  (click)="reserveNow()"
                >
                  Reserve NOW
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </div>
    <ng-template #elseBlock>No group trainings for today!</ng-template>
  </mat-tab-group>
</div>
