.schedule-week{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.gym-div{
    background: url("../../assets/images/schedule.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::ng-deep .mat-tab-label{
    background-color: rgba(43, 61, 255, 0.3);
}

.mat-table{
    width: 100%;
}

.mat-column-timeSlot{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(193, 255, 253);
}

.mat-column-training{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(193, 255, 253);
}

.mat-column-trainer{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(193, 255, 253);
}

.reserve-now{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-table{
    background: url("../../assets/images/training.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mat-header-cell{
    color: rgb(0, 255, 247);
}