.about-par{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
}

.image-logo{
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.description-section{
    background: url("../../assets/images/gym.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}