.mat-table{
    width: 100%;
    background-color: rgba(132, 255, 116, 0.3);
}

.mat-column-subscriptionType{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.mat-column-duration{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.mat-column-price{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}