.image-logo{
    // width: 400px;
    // height: 250px;
    width: 200px;
    height: 100px;
}

.mat-toolbar{
    height: 110px;
}

.toolbar{
    display: flex;
    justify-content:center;
}

::ng-deep .mat-tab-label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

::ng-deep .mat-tab-group{
    display: flex;
    justify-content: center;
}

.exit-btn{
    display: flex;
    justify-content: flex-end;

    height:35px !important;
    width:35px !important;
    font-size:35px !important;
}

.example-spacer {
    flex: 1 1 auto;
}

.gym-name{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}