<form class="expansion-panel">
  <div class="header-page">
    <p>FIND ABOUT YOUR FAVORITE GYM</p>
    <img class="image-logo" src="../../assets/images/{{ gym.gymImagePath }}" />
  </div>

  <mat-accordion>
    <!-- GYM DETAILS -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> About... </mat-panel-title>
      </mat-expansion-panel-header>

      <app-gym-description [gymId]="gymId"></app-gym-description>

    </mat-expansion-panel>

    <!-- SCHEDULE -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Schedule </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <app-gym-schedule [gymId]="gymId"></app-gym-schedule> -->

      <button class="button" mat-raised-button color="primary">Book NOW</button>
    </mat-expansion-panel>

    <!-- PRICES -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Prices </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <app-gym-prices [gymId]="gymId"></app-gym-prices> -->
      
    </mat-expansion-panel>

    <!-- TRAININGS -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Training </mat-panel-title>
      </mat-expansion-panel-header>
      
      <!-- <app-gym-trainings [gymId]="gymId"></app-gym-trainings> -->

    </mat-expansion-panel>

    <!-- TRAINERS -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Trainers </mat-panel-title>
      </mat-expansion-panel-header>
      
      <!-- <app-gym-trainers [gymId]="gymId"></app-gym-trainers> -->

    </mat-expansion-panel>
  </mat-accordion>
</form>
