.mat-expansion-panel{
    background-color: rgba(204, 255, 195, 0.3);
}

.mat-expansion-panel-header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    display: flex;
    align-self: center;
}

.header-page {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: brown;
    margin-top: 50px;
}

.expansion-panel{
    margin: 50px;
}