<form class="expansion-panel">
  <p>
    <mat-toolbar color="primary">
      <img
        class="image-logo"
        src="../../assets/images/{{ gym.gymImagePath }}"
      />

      <span class="example-spacer"></span>

      <mat-icon>grade</mat-icon>
      <span class="gym-name">{{ gym.name }}</span>
      <mat-icon>grade</mat-icon>

      <span class="example-spacer"></span>

      <button mat-icon-button >
        <mat-icon class="exit-btn">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <mat-tab-group>
    <!-- GYM DETAILS -->
    <mat-tab label="ABOUT">
      <app-gym-description [gymId]="gymId"></app-gym-description>
    </mat-tab>

    <!-- GYM PRICES -->
    <mat-tab label="PRICES">
      <app-gym-prices [gymId]="gymId"></app-gym-prices>
    </mat-tab>

    <!-- GYM SCEHDULE -->
    <mat-tab label="SCEHDULE">
      <app-gym-schedule [gymId]="gymId"></app-gym-schedule>
    </mat-tab>

    <!-- GYM TRAININGS -->
    <mat-tab label="TRAININGS">
      <app-gym-trainings [gymId]="gymId"></app-gym-trainings>
    </mat-tab>

    <!-- GYM TRAINERS -->
    <mat-tab label="TRAINERS">
      <app-gym-trainers [gymId]="gymId"></app-gym-trainers>
    </mat-tab>
  </mat-tab-group>
</form>
