<form class="expansion-panel">
  <p>{{gymName}}</p>
  <mat-accordion>
    <!-- GYM DETAILS -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> About... </mat-panel-title>
        <!-- <mat-panel-description>
          Here are details about the gym
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>This is the details section of the panel.</p>
    </mat-expansion-panel>

    <!-- SCHEDULE -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Schedule </mat-panel-title>
        <!-- <mat-panel-description>
          Here is the schedule of the gym
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <!-- MAT-CARD for days and every mat-card will have his schedule with checkbox -->
      <!-- <span class="example-list-section">
        <ul>
          <li *ngFor="let day of days.subtasks">
            <mat-checkbox [(ngModel)]="subtask.completed"
                          [color]="subtask.color"
                          (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span> -->

      <button class="button" mat-raised-button color="primary">Book NOW</button>
    </mat-expansion-panel>

    <!-- PRICES -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Prices </mat-panel-title>
        <!-- <mat-panel-description>
          Here you cand find the prices
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>This is the prices section of the panel.</p>
    </mat-expansion-panel>

    <!-- TRAININGS -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Training </mat-panel-title>
        <!-- <mat-panel-description>
          Here you can find out about the trainings
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>This is the training content.</p>
    </mat-expansion-panel>

    <!-- TRAINERS -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Trainers </mat-panel-title>
        <!-- <mat-panel-description>
          Here you can find out about the trainers
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>This is the trainers section of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="header-page">
    <p>FIND ABOUT YOUR FAVORITE GYM</p>
  </div>
</form>
