.schedule-week{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


::ng-deep .mat-tab-label{
    background-color: rgba(43, 61, 255, 0.3);
}

.mat-table{
    width: 100%;
}

.mat-column-timeSlot{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-column-training{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.mat-column-trainer{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.reserve-now{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}