<p>
  <mat-toolbar color="primary">
    <span class="toolbar-reserve-now">RESERVE NOW</span>
  </mat-toolbar>
</p>
<div class="form-reserve-now">
  <!-- <h1 class="title"></h1>
  <br><br><br><br> -->
  <form class="reserve-now-form" [formGroup]="reserveForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        name="name"
        placeholder="What is your name?"
        required="true"
        formControlName="name"
      />
      <mat-error
        *ngIf="
          nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)
        "
        class="alert"
      >
        Name is required.
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label><br />
      <input
        matInput
        name="email"
        placeholder="What is your email?"
        required="true"
        formControlName="email"
      />
      <mat-error
        *ngIf="
          emailControl?.invalid &&
          (emailControl?.dirty || emailControl?.touched)
        "
        class="alert"
      >
        Email is required.
      </mat-error>
    </mat-form-field>
    <br /><br /><br />

    <div class="readonly">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        "
      >
        <label class="label-readonly"> Day: </label>
        <span>
          <input class="input-readonly" matInput value="{{ day }}" readonly />
        </span>
      </div>


      <br /><br />


      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        "
      >
        <label class="label-readonly"> Trainer: </label>
        <span>
          <input class="input-readonly" matInput value="{{ trainer }}" readonly />
        </span>
      </div>


      <br /><br />

      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        "
      >
        <label class="label-readonly"> Training: </label>
        <span>
          <input class="input-readonly" matInput value="{{ training }}" readonly />
        </span>
      </div>
      <br /><br /><br /><br />
    </div>

    
    <button mat-raised-button color="warn" (click)="close()">CLOSE</button>
    <button mat-raised-button mat-stroked-button color="primary" (click)="save()">SAVE</button>
  </form>
</div>
